# Game Directory Junction / Symlink
game
game/

# Binaries, Packages and Dumps
*.exe
*.dll
*.pdb
*.bin
*.dmp
*.pak
*.ucas
*.utoc
*.upipelinecache
*.sav

# Media and Captures
*.mp4
*.mkv
*.avi
*.mov

# SDK and Dumped Assets
/SDK/
/Dumped/
/Unpacked/

# Temp, Caches and Logs
*.log
*.tmp
.cache/
scratch/
